<!-- <h2 class="text-center"  style="color:black; font-weight: bold" >MICROSOFT STREAM</h2>
<section class="testimonials text-center bg-light">
  <div class="row">
    <div class="col-lg-4">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <a [routerLink]="['/click']">
        <img class="img-fluid rounded-circle mb-3" src="assets\dp.jpg" alt="">
        </a>
        <h5>MargaE.</h5>
        <h5>561100</h5>
        <h5>Effort:0</h5>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <a [routerLink]="['/click']">
        <img class="img-fluid rounded-circle mb-3" src="assets\dp.jpg" alt="">
        </a>
        <h5>Fred S.</h5>
        <h5>561100</h5>
        <h5>Effort:0</h5>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <a [routerLink]="['/click']">
        <img class="img-fluid rounded-circle mb-3" src="assets\dp.jpg" alt="">
        </a>
        <h5>Sarah W.</h5>
        <h5>561100</h5>
        <h5>Effort:0</h5>
      </div>
    </div>
  </div>
</section>

<button (click)="goBack()" class="btn btn-warning">Go Back</button> -->
<nav class="navbar navbar-transparent" data-spy="affix"  >
  <div class="collapse navbar-collapse" id="my-nav">
    <ul class="nav navbar-nav">
    <li class="active"><a  style="color:black; font-weight: bold">STREAMS</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right" id="my-nav">
    <li><a (click)="display5()" ><span style="color:black; font-weight: bold" class="glyphicon glyphicon-log-out">Logout</span></a></li>
    </ul>
  </div>
  
</nav>

<br>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
              <h1 style="font-family:cursive">USER INTERFACE</h1>
        </div>
          <div class="panel-body">
              The user interface (UI), in the industrial design field of human–computer 
              interaction, is the space where interactions between humans and machines 
              occur. The goal of this interaction is to allow effective operation and
               control of the machine from the human end, whilst the machine simultaneously
                feeds back information that aids the operators' decision-making process.
                 Examples of this broad concept of user interfaces include the interactive
                  aspects of computer operating systems, hand tools, heavy machinery
                   operator controls, and process controls. 
          
  <br>
  <div class="col-md-2 col-md-offset-5">
             <button (click)="getdetails()" class="btn btn-primary">
               View</button>
               </div>
            
              </div>
              <div *ngFor="let val of list;let i=index">

                <div style="list-style-type:disc; font-size: large; color: black; text-align: left">
                  <div (click)="display(i)">
                  <li *ngIf="list[i][2]=='UI'">{{list[i]}}</li>
                  </div>

                </div>
                 </div>
             
          
             </div>
</div>
<br>

<div class="row" *ngIf="show">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">Employee Allocation</div>
      <div class="panel-body">
    <form [formGroup]="allocateForm" (ngSubmit)="effort()">
    <div class="form-group">
      <label>Employee Name:</label>
      
      <input type="text" formControlName="name" value="{{list[count][0]}}">
      </div>
      <div class="form-group">
          <label>Employee Id:</label>
          <input type="number" formControlName="empId" value="{{list[count][1]}}">
      </div> 
     
         <Label>Select Type of Question paper</Label>
        <select  class="dropdown"  name="allocate"  required="" formControlName="allocate">
		
          <option style="color:white" value="">---Select---</option>
          <option value="HandsOn">HandsOn</option>
          <option value="Objective">Objective</option>
          <option value="Review">Review</option>
        
        </select>
      <div class="form-group text-center">
          <button
          class="btn btn-primary">Allocate</button>
        </div>  
        <div *ngIf="errorMessage!=null">
          <span class="text-danger">{{errorMessage}}</span>
          </div>
          <div *ngIf="successMessage!=null">
          <span class="text-success">{{successMessage}}</span>
          </div> 
       </form>

  </div> 
</div>
</div>
</div>
